.header
  .header-container
    %ul.header-container--global__left
      %li.global__left-home
        = link_to "/", class: "global__left-home-menu", method: :get do
          = fa_icon 'home',class: "header__fa-icon"
          ホーム
      - if user_signed_in?
        %li.global__left-moment
          = link_to "#", class: "global__left-moment-menu" do
            = fa_icon 'bolt',class: "header__fa-icon"
            about
        %li.global__left-news
          = link_to "#", class: "global__left-news-menu" do
            = fa_icon 'bell',class: "header__fa-icon"
            通知
        %li.global__left-message
          = link_to "#", class: "global__left-message-menu" do
            = fa_icon 'envelope',class: "header__fa-icon"
            メッセージ
    %ul.header-container--global__right
      %li.global__right-search
        %input.global__right-search__input{placeholder: "キーワード検索" }
          = fa_icon 'search', class: "header__fa-icon"
        - if user_signed_in?
          %li.global__right-user-menu
            .global__right-user-menu__link
              - if current_user.image.present?
                = image_tag(current_user.image.url, class: 'global__right-user-menu__link-img')
                %ul.global__right-user-menu__link-pulldown
                  %li.pulldown-prof
                    .pulldown-prof-nickname
                      = current_user.nickname
                    .pulldown-prof-username
                      = current_user.username
                  %li
                    = link_to "プロフィール", "#",method: :get, class: 'pulldown__link'
                  %li
                    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'pulldown__logout'
              - else
                = image_tag('member_photo_noimage.png', class: 'global__right-user-menu__link-img')
                %ul.global__right-user-menu__link-pulldown
                  %li.pulldown-prof
                    .pulldown-prof-nickname
                      = current_user.nickname
                    .pulldown-prof-username
                      = current_user.username
                  %li
                    = link_to "プロフィール", "#",method: :get, class: 'pulldown__link'
                  %li
                    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'pulldown__logout'
        - else
          %li.global__right-user-menu
            = link_to "Login", new_user_session_path, class: 'global__right-user-menu__link'
          %li.global__right-user-menu
            = link_to "Signup", new_user_registration_path, class: 'global__right-user-menu__link'
