.all-contents
  .header-all
    = render 'share/header'
  .signup
    .signup__title
      アカウントの編集
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .signup-image
        .signup-image-preview
        = f.file_field :image, class: 'image-upload'

      .signup-nickname
        = f.label :nickname, class: 'signup-nickname__label'
        %em (必須, 最大12文字)
        %br/
        = f.text_area :nickname, autofocus: true, maxlength: "12",class: 'signup-nickname__text_field'
      .signup-nickname__count
        文字数:

      .signup-profile
        = f.label :profile, class: 'signup-profile__label'
        %em (最大100文字)
        %br/
        = f.text_area :profile, autofocus: true, maxlength: "200", class: 'signup-profile__text_field'
      .signup-profile__count
        文字数:

      .signup-email
        = f.label :email, class: 'signup-email__label'
        %br/
        = f.email_field :email, class: 'signup-email__email_field'
      .signup-password
        = f.label :password, class: 'signup-password__label'
        - if @validatable
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off", class: 'signup-password__password_field'
      .signup-password-confirmation
        = f.label :password_confirmation, class: 'signup-password-confirmation__label'
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: 'signup-password-confirmation__password_field'
      .signup-submit
        = f.submit "Update", class: 'signup-submit__btn'

      -# アカウント削除ボタン
      -# %h3 Cancel my account
      -# %p
        -# Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
      .back
        = link_to "Back", :back, class: 'back__btn'
