.favorite
  - if user_signed_in?
    - if tweet.user_id == current_user.id
      = fa_icon 'heart',class: "favorite-icon"
      .favorite-num
        = Like.where(tweet_id: tweet.id).count
    - else
      - if Like.find_by(user_id: current_user.id , tweet_id: tweet.id)
        = link_to "/likes/#{tweet.id}/destroy",class: 'favorite-link', method: "delete" do
          = fa_icon 'heart',class: "favorited-icon"
          .favorited-num
            = Like.where(tweet_id: tweet.id).count
      - else
        =link_to "/likes/#{tweet.id}/create",class: 'favorite-link', method: "post" do
          = fa_icon 'heart',class: "favorite-icon"
          .favorite-num
            = Like.where(tweet_id: tweet.id).count
  - else
    = fa_icon 'heart',class: "favorite-icon"
    .favorite-num
      = Like.where(tweet_id: tweet.id).count
