.favorite{id: "like-link-#{tweet.id}"}
  - if user_signed_in?
    - if tweet.user_id == current_user.id
      = fa_icon 'heart',class: "favorite-icon"
      .favorite-num
        = Like.where(tweet_id: tweet.id).count
    - else
      - if Like.find_by(user_id: current_user.id , tweet_id: tweet.id)
        = link_to likes_destroy_path(tweet.id), class: 'favorite-link', method: :delete, data: {remote: true} do
          = fa_icon 'heart',class: "favorited-icon", id: "favorited-icon#{tweet.id}"
          .favorited-num
            = Like.where(tweet_id: tweet.id).count
      - else
        =link_to likes_create_path(tweet.id), class: 'favorite-link', method: :post, data: {remote: true} do
          = fa_icon 'heart',class: "favorite-icon", id: "favorited-icon#{tweet.id}"
          .favorite-num
            = Like.where(tweet_id: tweet.id).count
  - else
    = fa_icon 'heart',class: "favorite-icon"
    .favorite-num
      = Like.where(tweet_id: tweet.id).count
