.user-index-container
  .header-all
    = render 'share/header'
  .users
    .users-title
      ユーザー一覧
    - @users.each do |user|
      .users-main
        .users-main__tag
          = link_to "/users/#{user.id}", method: :get do
            - if user.image.present?
              = image_tag(user.image.url, class: 'users-main__tag-img')
            - else
              = image_tag('member_photo_noimage.png', class: 'users-main__tag-img')
        .users-main-info
          .users-main-info__username
            = user.nickname
          .users-main-info__nickname
            = user.username
        .users-main-main
          .users-main-main__prof
            = user.profile
          - if user_signed_in? && current_user != user
            - if user.followed_by?(current_user)
              .users-main-main__followed
                = link_to "フォロー中",user_relationships_path(user.id), class: 'users-main-main__followed', method: :delete
            -else
              .users-main-main__follow
                = link_to "フォロー", user_relationships_path(user.id),class: 'users-main-main__follow', method: :post
    .main-content-tweet__pagenate
      = paginate @users, class: 'main-content-tweet__pagenate-tag'
