.user-index-container
  .header-all
    = render 'share/header'
  .users
    .users-title
      ユーザー一覧
    - @users.each do |user|
      .users-main
        .users-main__tag
          - if user.image.present?
            = image_tag(user.image.url, class: 'users-main__tag-img')
          - else
            = image_tag('member_photo_noimage.png', class: 'users-main__tag-img')
        .users-main-info
          .users-main-info__username
            = user.nickname
          .users-main-info__nickname
            = user.username
        .users-main-main
          .users-main-main__prof
            = user.profile
          - if user_signed_in?
            .users-main-main__follow
              .users-main-main__follow-btn
                フォロー




